body{
    background-color: black;
    color: white;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/029/465/075/small/red-curve-on-a-black-background-vector.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

h1{
    color: red;
    display: flex;
    justify-content: center;
}
.site-header{

    width: 100%;
    height: 50px;
    background-color: black;
    
}
nav a{
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    display: inline-block;
    justify-content: space-evenly;
    text-align: center;
}
nav a:hover{
    background-color: red;
    color: black;
}
form{
    height: 300px;
    width: 600px;
    margin-top: 100px;
    margin-left: 50px;
    border: 3px solid red;
    justify-content: center;
    padding: 10px;
    align-items: center;


}
label{
    color: red;
    padding: 15px;
    font-size: large;    
}
input{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;

}
button{
    width: 50%;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 120px;
}
button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
